@media screen and (max-width: 800px) {
    .option-area {
        width:80%;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        border: 1px solid red;
        paddig: 10px;
        background: #fff;
        z-index: 160;
        display:none;
    }    

    .option-area input {
/*         max-width:200px; */
        
    }    
}
